

<html>
 <head>
  <title> Home Page </title>
 </head>
 <body>   
  {% with messages = get_flashed_messages() %}
  {% if messages %}
   <ul>
    {% for message in messages %}
     <li> {{message}} </li>
    {% endfor %}
   </ul>
  {% endif %}
  {% endwith %}
  <h1> Welcome {{name}}!</h1>
  <p> <a href = "www.google.com"> not google </a> </p>
  <ul>
  {% for city in city_names %}
   <li> {{city}} </li>
  {% endfor %}
  </ul>
  <formaction = "" method = "post" novalidate>
   {{form.hidden_tag()}}
  <p>
   {{form.city_name.label}}<br>
   {{form.city_name(size=32)}}
  </p>
  <p>
  {{form.submit()}}
  </p>
 </form>
</body>
</html>
